body {
    background-color: beige;
}
.invisible {
    display: none;
}
.visible {
    display: block;
}
#new-button-div {
    width: 100%;
}
#add-contact {
    width: 100%;
    text-align: left;
    background: none;
    height: 100%;
    border: none;
    outline: 0;
}